version: "3.9"

services:
    postgres:
        image: postgres:15
        volumes:
        - pgdata:/var/lib/postgresql/data
        environment:
          POSTGRES_USER: ${POSTGRES_USER}
          POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
          POSTGRES_DB: ${POSTGRES_DB}
        healthcheck:
          tests: ["CMD-SHELL"]
          interval: 5s
          timeout: 2s
          retries: 12

    redis:
      image: redis:7
      command: ["redis-server", "--save", "", "--appendonly", "no"]
      healthcheck:
        test: ["CMD", "redis-cli", "ping"]
        interval: 5s
        timeout: 2s
        retries: 5

    migrate:
      build:
        context: .
        dockerfile: Dockerfile
      command: ["./migrate"]
      environment:
      depends_on:
      - postgres
      restart: "no"

    game_server:
      build:
        context: .
        dockerfile: Dockerfile
      command: ["./game_server"]
      env_file:
      - .env
      ports:
      - "50051:50051"
      depends_on:
      - postgres
      - redis
      - migrate
      restart: unless-stopped

volumes:
    pgdata:
